body{
  height: 100%;

  //background: url("../images/main-bg-3.jpg") no-repeat center center fixed;
  background-image: url("../images/main-bg-2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  &.ri-app-bg-blurry{
    background-image: url("../images/main-bg-blurry.jpg");
  }

  &.ri-app-bg-2{
    background-image: url("../images/main-bg-1.jpg");
  }

  &.ri-app-bg-3{
    background-image: url("../images/main-bg-3.jpg");
  }

  &.ri-app-bg-gray{
    background: #A8A8A8;
  }
}

.ri-app-wrapper{

}

//Overlay to darken background images
.ri-app-bg-overlay{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: fade(#000,12%);
  background: linear-gradient(to bottom,  fade(#000,12%) 0% ,fade(#000,10%) 100%);
  transition: 300ms all;
  opacity: 0;
  z-index: -1;//avoid interference with other elements

  &.is-visible{
    opacity: 1;
  }
}

//Modal overlay
.ri-app-modal-overlay{

}

